In [32]:
#Installing NLTK - Natural Language Toolkit 
!pip install nltk

Requirement already satisfied: nltk in c:\users\hannah\anaconda3\lib\site-packages (3.6.1)
Requirement already satisfied: regex in c:\users\hannah\anaconda3\lib\site-packages (from nltk) (2021.4.4)
Requirement already satisfied: click in c:\users\hannah\anaconda3\lib\site-packages (from nltk) (7.1.2)
Requirement already satisfied: joblib in c:\users\hannah\anaconda3\lib\site-packages (from nltk) (1.0.1)
Requirement already satisfied: tqdm in c:\users\hannah\anaconda3\lib\site-packages (from nltk) (4.59.0)

In [33]:
import nltk 
import pandas as pd

In [27]:
#nltk.download()

showing info https://raw.githubusercontent.com/nltk/nltk_data/gh-pages/index.xml

True

In [34]:
data = pd.read_csv('Resources/mbti_randomSample.csv')
data.head()

   Unnamed: 0  type                                              posts
0        5150  INFJ  'Until my mid-twenties I couldn't care less wh...
1        4661  INFJ  'http://personalitycafe.com/attachments/infj-f...
2        3397  INFJ  Definitely conflict, too. Unreasonable loudnes...
3        6839  INFJ  'Last night, was racing people on my old schoo...
4        5044  INFJ  'Looks like the preliminary results from the p...

In [35]:
data['type'].value_counts()

ENTJ    25
ESTJ    25
ENTP    25
ESFJ    25
INFJ    25
ISTP    25
ISFJ    25
INTJ    25
ISFP    25
ENFP    25
ESFP    25
INTP    25
INFP    25
ISTJ    25
ENFJ    25
ESTP    25
Name: type, dtype: int64

In [36]:
import string 
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [37]:
data['length'] = data['posts'].apply(lambda x: len(x))
data.head()

   Unnamed: 0  type                                              posts  length
0        5150  INFJ  'Until my mid-twenties I couldn't care less wh...    8065
1        4661  INFJ  'http://personalitycafe.com/attachments/infj-f...    6611
2        3397  INFJ  Definitely conflict, too. Unreasonable loudnes...    8562
3        6839  INFJ  'Last night, was racing people on my old schoo...    7965
4        5044  INFJ  'Looks like the preliminary results from the p...    6990

In [38]:
list(data['type'][1])

['I', 'N', 'F', 'J']

In [39]:
data.loc[0,'type']

'INFJ'

In [40]:
#create columns for individual letters 
for index, row in data.iterrows(): 
    mbti_type = list(row['type'])
    data.loc[index,'IorE']=mbti_type[0]
    data.loc[index,'SorN']=mbti_type[1]
    data.loc[index,'TorF']=mbti_type[2]
    data.loc[index,'PorJ']=mbti_type[3]

In [41]:
data.head()

,Unnamed: 0,type,posts,length,IorE,SorN,TorF,PorJ
0,5150,INFJ,'Until my mid-twenties I couldn't care less wh...,8065,I,N,F,J
1,4661,INFJ,'http://personalitycafe.com/attachments/infj-f...,6611,I,N,F,J
2,3397,INFJ,"Definitely conflict, too. Unreasonable loudnes...",8562,I,N,F,J
3,6839,INFJ,"'Last night, was racing people on my old schoo...",7965,I,N,F,J
4,5044,INFJ,'Looks like the preliminary results from the p...,6990,I,N,F,J

In [42]:
data = data[['type','IorE','SorN','TorF','PorJ','posts','length']]

In [43]:
#Export CSV for I vs E 
tempdf = data[['IorE','posts']]
tempdf.to_csv('Resources/MBTI_IE.csv')

#Export CSV for S vs N 
tempdf = data[['SorN','posts']]
tempdf.to_csv('Resources/MBTI_SN.csv')

#Export CSV for T vs F 
tempdf = data[['TorF','posts']]
tempdf.to_csv('Resources/MBTI_TF.csv')

#Export CSV for J vs P 
tempdf = data[['PorJ','posts']]
tempdf.to_csv('Resources/MBTI_JP.csv')

In [44]:
data.head()

,type,IorE,SorN,TorF,PorJ,posts,length
0,INFJ,I,N,F,J,'Until my mid-twenties I couldn't care less wh...,8065
1,INFJ,I,N,F,J,'http://personalitycafe.com/attachments/infj-f...,6611
2,INFJ,I,N,F,J,"Definitely conflict, too. Unreasonable loudnes...",8562
3,INFJ,I,N,F,J,"'Last night, was racing people on my old schoo...",7965
4,INFJ,I,N,F,J,'Looks like the preliminary results from the p...,6990

In [45]:
#remove punctuations
def remove_punct(text): 
    text_nopunct = "".join([char for char in text if char not in string.punctuation])
    return text_nopunct
data['noPunct']= data['posts'].apply(lambda x: remove_punct(x))
data.head()

,type,IorE,SorN,TorF,PorJ,posts,length,noPunct
0,INFJ,I,N,F,J,'Until my mid-twenties I couldn't care less wh...,8065,Until my midtwenties I couldnt care less what ...
1,INFJ,I,N,F,J,'http://personalitycafe.com/attachments/infj-f...,6611,httppersonalitycafecomattachmentsinfjforumprot...
2,INFJ,I,N,F,J,"Definitely conflict, too. Unreasonable loudnes...",8562,Definitely conflict too Unreasonable loudness ...
3,INFJ,I,N,F,J,"'Last night, was racing people on my old schoo...",7965,Last night was racing people on my old schools...
4,INFJ,I,N,F,J,'Looks like the preliminary results from the p...,6990,Looks like the preliminary results from the po...

In [46]:
import re

#tokenize words 
def tokenize(text): 
    tokens = re.split('\W+',text)
    return tokens

data['posts_token'] = data['noPunct'].apply(lambda x: tokenize(x.lower()))

data.head()

,type,IorE,SorN,TorF,PorJ,posts,length,noPunct,posts_token
0,INFJ,I,N,F,J,'Until my mid-twenties I couldn't care less wh...,8065,Until my midtwenties I couldnt care less what ...,"[until, my, midtwenties, i, couldnt, care, les..."
1,INFJ,I,N,F,J,'http://personalitycafe.com/attachments/infj-f...,6611,httppersonalitycafecomattachmentsinfjforumprot...,[httppersonalitycafecomattachmentsinfjforumpro...
2,INFJ,I,N,F,J,"Definitely conflict, too. Unreasonable loudnes...",8562,Definitely conflict too Unreasonable loudness ...,"[definitely, conflict, too, unreasonable, loud..."
3,INFJ,I,N,F,J,"'Last night, was racing people on my old schoo...",7965,Last night was racing people on my old schools...,"[last, night, was, racing, people, on, my, old..."
4,INFJ,I,N,F,J,'Looks like the preliminary results from the p...,6990,Looks like the preliminary results from the po...,"[looks, like, the, preliminary, results, from,..."

In [47]:
stopword = nltk.corpus.stopwords.words('english')

In [48]:
def remove_stop(token_list): 
    text = [word for word in token_list if word not in stopword]
    return text
data['post_noStop'] = data['posts_token'].apply(lambda x: remove_stop(x))

In [49]:
#lemmatizer 
wn = nltk.WordNetLemmatizer()
def lemmatizing(token_txt):
    text = [wn.lemmatize(word) for word in token_txt]
    return text
data['post_lemm'] = data['post_noStop'].apply(lambda x: lemmatizing(x))
data.head()

,type,IorE,SorN,TorF,PorJ,posts,length,noPunct,posts_token,post_noStop,post_lemm
0,INFJ,I,N,F,J,'Until my mid-twenties I couldn't care less wh...,8065,Until my midtwenties I couldnt care less what ...,"[until, my, midtwenties, i, couldnt, care, les...","[midtwenties, couldnt, care, less, people, got...","[midtwenties, couldnt, care, le, people, got, ..."
1,INFJ,I,N,F,J,'http://personalitycafe.com/attachments/infj-f...,6611,httppersonalitycafecomattachmentsinfjforumprot...,[httppersonalitycafecomattachmentsinfjforumpro...,[httppersonalitycafecomattachmentsinfjforumpro...,[httppersonalitycafecomattachmentsinfjforumpro...
2,INFJ,I,N,F,J,"Definitely conflict, too. Unreasonable loudnes...",8562,Definitely conflict too Unreasonable loudness ...,"[definitely, conflict, too, unreasonable, loud...","[definitely, conflict, unreasonable, loudness,...","[definitely, conflict, unreasonable, loudness,..."
3,INFJ,I,N,F,J,"'Last night, was racing people on my old schoo...",7965,Last night was racing people on my old schools...,"[last, night, was, racing, people, on, my, old...","[last, night, racing, people, old, schools, pl...","[last, night, racing, people, old, school, pla..."
4,INFJ,I,N,F,J,'Looks like the preliminary results from the p...,6990,Looks like the preliminary results from the po...,"[looks, like, the, preliminary, results, from,...","[looks, like, preliminary, results, poll, conf...","[look, like, preliminary, result, poll, confir..."

In [31]:
data.to_csv('Resources/MBTI_mod.csv')

In [ ]:
df2 = pd.read_csv('Resources/MBTI_mod.csv')

In [35]:
df2.head()

   type                                          post_lemm
0  INFJ  ['httpwwwyoutubecomwatchvqsxhcwe3krwhttp41medi...
1  ENTP  ['im', 'finding', 'lack', 'post', 'alarmingsex...
2  INTP  ['good', 'one', 'httpswwwyoutubecomwatchvfhigb...
3  INTJ  ['dear', 'intp', 'enjoyed', 'conversation', 'd...
4  ENTJ  ['youre', 'firedthats', 'another', 'silly', 'm...

In [58]:
df2 = data[['IorE','posts']]

In [59]:
def cleanText(text):
    text = "".join([word.lower() for word in text if word not in string.punctuation])
    tokens = re.split('\W+', text)
    text = [word for word in tokens if word not in stopword]
    return text

In [60]:
from sklearn.feature_extraction.text import CountVectorizer

In [61]:
# CountVectorizer
count_vect = CountVectorizer(analyzer=cleanText)
X_count = count_vect.fit_transform(df2['posts'])
#This adds the features to our data set 
#X_count_feat = pd.concat([data['body_len'], data['punct%'], pd.DataFrame(X_count.toarray())], axis=1)

In [62]:
X_count_feat = pd.DataFrame(X_count.toarray())
X_count_feat.head()

,0,1,2,3,4,5,6,7,8,9,...,36611,36612,36613,36614,36615,36616,36617,36618,36619,36620
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [63]:
import warnings
warnings.filterwarnings("ignore", category=DeprecationWarning)
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import GridSearchCV

In [64]:
rf = RandomForestClassifier()
param = {'n_estimators': [10, 150, 300],
        'max_depth': [30, 60, 90, None]}

gs = GridSearchCV(rf, param, cv=5, n_jobs=-1)# n_jobs=-1 for parallelizing search
gs_fit = gs.fit(X_count_feat, data['type'])
pd.DataFrame(gs_fit.cv_results_).sort_values('mean_test_score', ascending=False).head()

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_max_depth,param_n_estimators,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
2,13.841256,0.701927,0.724188,0.067604,30,300,"{'max_depth': 30, 'n_estimators': 300}",0.4625,0.4125,0.4875,0.4250,0.4500,0.4475,0.026693,1
8,14.075377,0.190355,0.624043,0.031124,90,300,"{'max_depth': 90, 'n_estimators': 300}",0.4125,0.3375,0.5125,0.4625,0.4375,0.4325,0.057879,2
5,14.498336,0.124658,0.640434,0.034945,60,300,"{'max_depth': 60, 'n_estimators': 300}",0.4625,0.4000,0.4375,0.4625,0.3625,0.4250,0.038730,3
11,12.756127,1.619078,0.512308,0.111421,None,300,"{'max_depth': None, 'n_estimators': 300}",0.4125,0.3125,0.4500,0.4000,0.4125,0.3975,0.045689,4
1,7.386390,0.154800,0.619247,0.047373,30,150,"{'max_depth': 30, 'n_estimators': 150}",0.3625,0.3125,0.4000,0.4000,0.4500,0.3850,0.045689,5