In [1]:
#Installing NLTK - Natural Language Toolkit 
!pip install nltk

Requirement already satisfied: nltk in c:\users\hannah\anaconda3\lib\site-packages (3.6.1)
Requirement already satisfied: regex in c:\users\hannah\anaconda3\lib\site-packages (from nltk) (2021.4.4)
Requirement already satisfied: tqdm in c:\users\hannah\anaconda3\lib\site-packages (from nltk) (4.59.0)
Requirement already satisfied: click in c:\users\hannah\anaconda3\lib\site-packages (from nltk) (7.1.2)
Requirement already satisfied: joblib in c:\users\hannah\anaconda3\lib\site-packages (from nltk) (1.0.1)

In [2]:
import nltk 
import pandas as pd

In [27]:
#nltk.download()

showing info https://raw.githubusercontent.com/nltk/nltk_data/gh-pages/index.xml

True

In [3]:
data = pd.read_csv('Resources/mbti_1.csv')
data.head()

   type                                              posts
0  INFJ  'http://www.youtube.com/watch?v=qsXHcwe3krw|||...
1  ENTP  'I'm finding the lack of me in these posts ver...
2  INTP  'Good one  _____   https://www.youtube.com/wat...
3  INTJ  'Dear INTP,   I enjoyed our conversation the o...
4  ENTJ  'You're fired.|||That's another silly misconce...

In [5]:
data['type'].value_counts()

INFP    1832
INFJ    1470
INTP    1304
INTJ    1091
ENTP     685
ENFP     675
ISTP     337
ISFP     271
ENTJ     231
ISTJ     205
ENFJ     190
ISFJ     166
ESTP      89
ESFP      48
ESFJ      42
ESTJ      39
Name: type, dtype: int64

In [6]:
import string 
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [7]:
data['length'] = data['posts'].apply(lambda x: len(x))
data.head()

   type                                              posts  length
0  INFJ  'http://www.youtube.com/watch?v=qsXHcwe3krw|||...    4652
1  ENTP  'I'm finding the lack of me in these posts ver...    7053
2  INTP  'Good one  _____   https://www.youtube.com/wat...    5265
3  INTJ  'Dear INTP,   I enjoyed our conversation the o...    6271
4  ENTJ  'You're fired.|||That's another silly misconce...    6111

In [8]:
list(data['type'][1])

['E', 'N', 'T', 'P']

In [9]:
data.loc[0,'type']

'INFJ'

In [10]:
#create columns for individual letters 
for index, row in data.iterrows(): 
    mbti_type = list(row['type'])
    data.loc[index,'IorE']=mbti_type[0]
    data.loc[index,'SorN']=mbti_type[1]
    data.loc[index,'TorF']=mbti_type[2]
    data.loc[index,'PorJ']=mbti_type[3]

In [11]:
data.head()

,type,posts,length,IorE,SorN,TorF,PorJ
0,INFJ,'http://www.youtube.com/watch?v=qsXHcwe3krw|||...,4652,I,N,F,J
1,ENTP,'I'm finding the lack of me in these posts ver...,7053,E,N,T,P
2,INTP,'Good one _____ https://www.youtube.com/wat...,5265,I,N,T,P
3,INTJ,"'Dear INTP, I enjoyed our conversation the o...",6271,I,N,T,J
4,ENTJ,'You're fired.|||That's another silly misconce...,6111,E,N,T,J

In [15]:
data = data[['type','IorE','SorN','TorF','PorJ','posts','length']]

In [12]:
#Export CSV for I vs E 
tempdf = data[['IorE','posts']]
tempdf.to_csv('Resources/MBTI_IE.csv')

#Export CSV for S vs N 
tempdf = data[['SorN','posts']]
tempdf.to_csv('Resources/MBTI_SN.csv')

#Export CSV for T vs F 
tempdf = data[['TorF','posts']]
tempdf.to_csv('Resources/MBTI_TF.csv')

#Export CSV for J vs P 
tempdf = data[['PorJ','posts']]
tempdf.to_csv('Resources/MBTI_JP.csv')

In [16]:
data.head()

,type,IorE,SorN,TorF,PorJ,posts,length
0,INFJ,I,N,F,J,'http://www.youtube.com/watch?v=qsXHcwe3krw|||...,4652
1,ENTP,E,N,T,P,'I'm finding the lack of me in these posts ver...,7053
2,INTP,I,N,T,P,'Good one _____ https://www.youtube.com/wat...,5265
3,INTJ,I,N,T,J,"'Dear INTP, I enjoyed our conversation the o...",6271
4,ENTJ,E,N,T,J,'You're fired.|||That's another silly misconce...,6111

In [13]:
#remove punctuations
def remove_punct(text): 
    text_nopunct = "".join([char for char in text if char not in string.punctuation])
    return text_nopunct
data['noPunct']= data['posts'].apply(lambda x: remove_punct(x))
data.head()

,type,posts,length,IorE,SorN,TorF,PorJ,noPunct
0,INFJ,'http://www.youtube.com/watch?v=qsXHcwe3krw|||...,4652,I,N,F,J,httpwwwyoutubecomwatchvqsXHcwe3krwhttp41mediat...
1,ENTP,'I'm finding the lack of me in these posts ver...,7053,E,N,T,P,Im finding the lack of me in these posts very ...
2,INTP,'Good one _____ https://www.youtube.com/wat...,5265,I,N,T,P,Good one httpswwwyoutubecomwatchvfHiGbolFF...
3,INTJ,"'Dear INTP, I enjoyed our conversation the o...",6271,I,N,T,J,Dear INTP I enjoyed our conversation the oth...
4,ENTJ,'You're fired.|||That's another silly misconce...,6111,E,N,T,J,Youre firedThats another silly misconception T...

In [14]:
import re

#tokenize words 
def tokenize(text): 
    tokens = re.split('\W+',text)
    return tokens

data['posts_token'] = data['noPunct'].apply(lambda x: tokenize(x.lower()))

data.head()

,type,posts,length,IorE,SorN,TorF,PorJ,noPunct,posts_token
0,INFJ,'http://www.youtube.com/watch?v=qsXHcwe3krw|||...,4652,I,N,F,J,httpwwwyoutubecomwatchvqsXHcwe3krwhttp41mediat...,[httpwwwyoutubecomwatchvqsxhcwe3krwhttp41media...
1,ENTP,'I'm finding the lack of me in these posts ver...,7053,E,N,T,P,Im finding the lack of me in these posts very ...,"[im, finding, the, lack, of, me, in, these, po..."
2,INTP,'Good one _____ https://www.youtube.com/wat...,5265,I,N,T,P,Good one httpswwwyoutubecomwatchvfHiGbolFF...,"[good, one, httpswwwyoutubecomwatchvfhigbolffg..."
3,INTJ,"'Dear INTP, I enjoyed our conversation the o...",6271,I,N,T,J,Dear INTP I enjoyed our conversation the oth...,"[dear, intp, i, enjoyed, our, conversation, th..."
4,ENTJ,'You're fired.|||That's another silly misconce...,6111,E,N,T,J,Youre firedThats another silly misconception T...,"[youre, firedthats, another, silly, misconcept..."

In [15]:
stopword = nltk.corpus.stopwords.words('english')

In [16]:
def remove_stop(token_list): 
    text = [word for word in token_list if word not in stopword]
    return text
data['post_noStop'] = data['posts_token'].apply(lambda x: remove_stop(x))

In [18]:
#lemmatizer 
wn = nltk.WordNetLemmatizer()
def lemmatizing(token_txt):
    text = [wn.lemmatize(word) for word in token_txt]
    return text
data['post_lemm'] = data['post_noStop'].apply(lambda x: lemmatizing(x))
data.head()

,type,posts,length,IorE,SorN,TorF,PorJ,noPunct,posts_token,post_noStop,post_lemm
0,INFJ,'http://www.youtube.com/watch?v=qsXHcwe3krw|||...,4652,I,N,F,J,httpwwwyoutubecomwatchvqsXHcwe3krwhttp41mediat...,[httpwwwyoutubecomwatchvqsxhcwe3krwhttp41media...,[httpwwwyoutubecomwatchvqsxhcwe3krwhttp41media...,[httpwwwyoutubecomwatchvqsxhcwe3krwhttp41media...
1,ENTP,'I'm finding the lack of me in these posts ver...,7053,E,N,T,P,Im finding the lack of me in these posts very ...,"[im, finding, the, lack, of, me, in, these, po...","[im, finding, lack, posts, alarmingsex, boring...","[im, finding, lack, post, alarmingsex, boring,..."
2,INTP,'Good one _____ https://www.youtube.com/wat...,5265,I,N,T,P,Good one httpswwwyoutubecomwatchvfHiGbolFF...,"[good, one, httpswwwyoutubecomwatchvfhigbolffg...","[good, one, httpswwwyoutubecomwatchvfhigbolffg...","[good, one, httpswwwyoutubecomwatchvfhigbolffg..."
3,INTJ,"'Dear INTP, I enjoyed our conversation the o...",6271,I,N,T,J,Dear INTP I enjoyed our conversation the oth...,"[dear, intp, i, enjoyed, our, conversation, th...","[dear, intp, enjoyed, conversation, day, esote...","[dear, intp, enjoyed, conversation, day, esote..."
4,ENTJ,'You're fired.|||That's another silly misconce...,6111,E,N,T,J,Youre firedThats another silly misconception T...,"[youre, firedthats, another, silly, misconcept...","[youre, firedthats, another, silly, misconcept...","[youre, firedthats, another, silly, misconcept..."

In [31]:
data.to_csv('Resources/MBTI_mod.csv')

In [ ]:
df2 = pd.read_csv('Resources/MBTI_mod.csv')

In [35]:
df2.head()

   type                                          post_lemm
0  INFJ  ['httpwwwyoutubecomwatchvqsxhcwe3krwhttp41medi...
1  ENTP  ['im', 'finding', 'lack', 'post', 'alarmingsex...
2  INTP  ['good', 'one', 'httpswwwyoutubecomwatchvfhigb...
3  INTJ  ['dear', 'intp', 'enjoyed', 'conversation', 'd...
4  ENTJ  ['youre', 'firedthats', 'another', 'silly', 'm...

In [26]:
def cleanText(text):
    text = "".join([word.lower() for word in text if word not in string.punctuation])
    tokens = re.split('\W+', text)
    text = [word for word in tokens if word not in stopword]
    return text

In [20]:
from sklearn.feature_extraction.text import CountVectorizer

In [27]:
# CountVectorizer
count_vect = CountVectorizer(analyzer=cleanText)
X_count = count_vect.fit_transform(data['posts'])
#This adds the features to our data set 
#X_count_feat = pd.concat([data['body_len'], data['punct%'], pd.DataFrame(X_count.toarray())], axis=1)

In [31]:
X_count_feat = pd.DataFrame(X_count.toarray())
X_count_feat.head()

MemoryError: Unable to allocate 22.6 GiB for an array with shape (8675, 349809) and data type int64